.title {
  text-align: center;
  text-decoration: underline;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}

.cards {
  margin: 5px;
}

#card__deck {
  display: flex;
  padding: 10px;
  margin: 0;
  flex-direction: row;
  justify-content: space-evenly;
}


/*Mobile Query*/
@media only screen and (max-width: 480px) {
  #card__deck {
    flex-direction: column;
    display: flex;
    padding: 10px;
    margin: 0;
    justify-content: space-evenly;
  }
}